* {
    margin: 0;
}

html,
body {
    --grey: #e1e1e6;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smothing: antialiased;
}

body {
    display: grid;
    place-items: center;
}

main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
}

.container {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey);
    margin-bottom: 30px;
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }
    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }
    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }
    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }
    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
    animation: myAnim 3s ease 5ms infinite alternate-reverse both;
}

.avatar>img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--grey);
    margin-top: 0.25rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 2rem;
    font-size: 14px;
    font-weight: 400;
}

ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin: 2rem auto 4.5rem;
}

.youtube1 {
    border-radius: 8px;
    background-color: #323238;
}

.youtube1:hover {
    background-color: #FF0000;
}

.linkedin1 {
    border-radius: 8px;
    background-color: #323238;
}

.linkedin1:hover {
    background-color: #0e76a8;
}

.instagram1 {
    border-radius: 8px;
    background-color: #323238;
}

.instagram1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    ;
}

main span {
    visibility: hidden;
    position: absolute;
}


/* Responsive on desktop*/

@media (min-width: 420px) {
    main {
        background: #323238 url(images/mask.svg ) no-repeat center/cover;
        width: 100vw;
        height: 100vh;
        background-position: 0% 32%;
    }
    .card {
        z-index: 1;
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
    .container {
        background: #181717d5 url(images/vetor.png);
        background-repeat: no-repeat;
        top: 10px;
        padding: 1px;
        border-radius: 20px;
        box-shadow: 0 1px 20em rgba(0, 0, 0, 0.801);
        border: solid 2px rgba(0, 0, 0, 0.918);
    }
    main span {
        display: flex;
        justify-content: center;
        visibility: unset;
        position: relative;
    }
    .avatar {
        margin: 4.5rem auto 0;
    }
    ul {
        margin-top: 2rem;
    }
}